
    <header class="main_h">
      <!DOCTYPE html>
      <html lang="en">


      <head1 profile="http://sazme.com">
          <link rel="icon" type="image/png" href="Images/transparentfavicon.png">
          <meta charset="utf-8">
          <meta name="description" content="sazme is a Social Network that allows user to connect with other users anonymously and express their feelings.">
          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
          <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
          <link href='CSS/style.css' rel='stylesheet' type='text/css'>
          <link rel="stylesheet" href="CSS/reset.css">
          <link rel="stylesheet" types="text/css" href="CSS/grid.css">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" types="text/css" href="CSS/ionicons.min.css">
          <link rel="stylesheet" types="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

          <title> Sazme </title>


      </head1>

          <body>

    <div class="row">
        <a class="logo" href="#">sazme</a>

        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <nav>
            <ul>

                <li><a href=".Sections">Features</a></li>
                <li><a href=".Sections_2">Timeline</a></li>
                <li><a href=".Sections_3">Newsletter</a></li>
            </ul>
        </nav>

    </div> <!-- / row -->
     <script src="Javascript/style.js"></script>

</header>

<body>
<section>

<div  class="hero">
    <h1 class="Plswork">sazme</h1>
    <h2>Connecting people who understand.</h2>


    <div class = "container-fluid">
    <div class = "row">
    <div class="col-md-6 col-sm-3 col-xs-6">
    <a href="#bottom" class="btn btn-default btn-lg">Subscribe</a>
     </div>
    </div>
    </div>
</div>


</section>
<section class = "Sections0" >
<h1 id = "Function_title"> <center> About</center></h1>
<p> <center class = "functionworda"> Sazme is a web platform that will allow users around the world to communicate with one and another anonymous.<br> Ever wanted to talk to someone about something, but have no one to share your problems with? <br> Have you ever wanted to write your heart out without the fear of being judged? <br> Join Sazme now and vent your heart out. </center></p>

</section>
<section class = "Sections">
    <h1 id = "Function_title"> <center> Features</center></h1>

    <div class="section group">
	<div class="col span_1_of_3">
	 <h2 class = "functionheader"><center>Completely Anonymous</center></h2>
 <i class = "ion-locked icon-big"></i><p><center class = "functionword">At sazme, keeping your identity anonymous is our first priority. </center></p>
	</div>
	<div class="col span_1_of_3">
 <h2 class = "functionheader"><center>Limitless Categories</center></h2>
   <i class = "ion-ios-infinite icon-big"></i>
        <p><center class = "functionword">We know that each and every one of us have our own problems and experiences. At sazme, we encourage you to create new categories. </center></p>
	</div>
	<div class="col span_1_of_3">
<h2 class = "functionheader"><center>Community That Cares</center></h2>
 <i class = "ion-ios-people icon-big"></i>  <p><center class = "functionword">By connecting people who have undergone the same experiences, we are trying to foster a community with people who support one another.</center></p>
	</div>
      </div>

    <div class="section group">
	<div class="col span_1_of_3">
	<h2 class = "functionheader"><center>Accessible To All</center></h2>
 <i class = "ion-volume-high icon-big"></i>  <p><center class = "functionword"> We want sazme to be easily accessed by everyone, we are currently trying to create accessibity mode which will allow text to be enlarged or read out!</center></p>
	</div>
	<div class="col span_1_of_3">
 <h2 class = "functionheader"><center>Write Your Heart Out</center></h2>
 <i class = "ion-ios-compose-outline icon-big"></i>  <p><center class = "functionword"> Regardless of whether or not you choose to share your stories or to write them in your personalized collection of notes, writting is a form of cathartic release! </center></p>
	</div>
	<div class="col span_1_of_3">
<h2 class = "functionheader"><center>Code Protected</center></h2>
  <i class = "ion-ios-keypad icon-big"></i>
  <p><center class = "functionword"> To ensure that your profile is highly secure, we are currently implementing an additional layer of security when your screen is left to idle.</center></p>
	</div>

</div>



<!--

    <div class="w3-row-padding">

<div class="w3-third">
  <h2 class = "functionheader"><center>Completely Anonymous</center></h2>
 <i class = "ion-locked icon-big"></i>  <p><center>The sazme team prioritizes in securing your identity. Features such as randomization of usernames will be implemented. </center></p>
</div>

<div class="w3-third">
  <h2 class = "functionheader"><center>Limitless Categories</center></h2>
   <i class = "ion-ios-infinite icon-big"></i>
  <p><center>The Paris area is one of the largest population centers in Europe,
      with more than 12 million inhabitants.</center></p>
</div>

<div class="w3-third">
  <h2 class = "functionheader"><center>A Community That Cares</center></h2>
 <i class = "ion-ios-people icon-big"></i>  <p><center>The Paris area is one of the largest population centers in Europe,
      with more than 12 million inhabitants.</center></p>
</div>

</div>
     <div class="w3-row-padding">

<div class="w3-third">
  <h2 class = "functionheader"><center>Accessible To All</center></h2>
 <i class = "ion-volume-high icon-big"></i>  <p><center>The Paris area is one of the largest population centers in Europe,
      with more than 12 million inhabitants.</center></p>
</div>

<div class="w3-third">
  <h2 class = "functionheader"><center>Write Your Heart Out</center></h2>
 <i class = "ion-ios-compose-outline icon-big"></i>  <p><center>The Paris area is one of the largest population centers in Europe,
      with more than 12 million inhabitants.</center></p>
</div>

<div class="w3-third">
  <h2 class = "functionheader"><center>Code Protected</center></h2>
  <i class = "ion-ios-keypad icon-big"></i>
  <p><center>The Paris area is one of the largest population centers in Europe,
      with more than 12 million inhabitants.</center></p>
</div>

</div>
-->
<!--
<div class="row1 content">
    <h1 class="sec01">
   <section>
        <section class= "section-features js--section-about" id="about">
            <div class= "row1">
                <h2> <center>Express not Impress</center> </h2>

            <p class= "long-copy Page">
             <center>Nobody really understands. We know, so dont just talk to anyone, talk to people who have gone through the same pain as you.  </center></p>
            </div>
            <div class= "row1">
               <div class = "col span-1-of-4 box">
                   <i class = "ion-locked icon-big"></i>
               <h3> Completely anonymous </h3>
            <p> Write your heart out and nobody will know its you. With our advanced authentication process, your hidden identity is our priority.</p>
               </div>
             <div class = "col span-1-of-4 box">
                   <i class = "ion-heart icon-big"></i>
               <h3> Release Emotion </h3>
            <p> Ever felt like expressing yourself in written form? Wanting to vent out all the emotions without being judged, without being constricted?</p>
               </div>
             <div class = "col span-1-of-4 box">
                   <i class = "ion-ios-infinite icon-big"></i>
               <h3> Countless of categories </h3>
            <p> Psychological traits and differences in life experiences and hardships brings a wide variety of categories to write or read from.</p>
               </div>
             <div class = "col span-1-of-4 box">
                   <i class = "ion-ios-color-filter-outline icon-big" ></i>
               <h3> Connect with people </h3>
            <p> Family, friends dont quite understand how you feel? Connect with people who truly understands how you feel.</p>
               </div>
               </div>
    </section>
       </section>
-->
    </section>

    <section class = "Sections_2">
    <h1 id = "Function_title"> <center>Timeline</center></h1>
    	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-Idea">
				<img src="Images/bulb.svg" alt="Idea">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>The Idea</h2>
				<p>How can we help people around the world express themselves? How do we create a platform where people feel secure to discuss about their emotions and vent their heart out?</p>
<!--
				<a href="#0" class="cd-read-more">Read more</a>
-->
				<span class="cd-date">February 2016</span>

			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-Code">
				<img src="Images/browser.svg" alt="Code">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Coding</h2>
				<p> After brainstorming and ideas were formed, we started coding for our first beta!</p>
<!--				<a href="#0" class="cd-read-more">Read more</a>-->
				<span class="cd-date">November 2016</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-Analysis">
				<img src="Images/analytics.svg" alt="Analysis">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>User Engagement</h2>
				<p> We are set to launch the first beta and to measure user engagement and other key metrics! </p>
<!--				<a href="#0" class="cd-read-more">Read more</a>-->
				<span class="cd-date">January 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-Feedback">
				<img src="Images/chat.svg" alt="Feedback">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>User Feedback</h2>
				<p>We aim to listen to feedback from users and continue to improve sazme!</p>
<!--				<a href="#0" class="cd-read-more">Read more</a>-->
				<span class="cd-date">February 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-App">
				<img src="Images/smartphone.svg" alt="app">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Making an app!</h2>
				<p> After improving sazme and hopefully gaining more users, we plan to proceed by expanding our platform to allow users to interact on their cellphones or tablets.</p>
<!--				<a href="#0" class="cd-read-more">Read more</a>-->
				<span class="cd-date">May 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->

		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-Launch">
				<img src="Images/rocket.svg" alt="Launch">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<h2>Public Launch of sazme</h2>
				<p>After pivoting and improving user interface as well as functions in sazme, we want to share it with the rest of the world! </p>
				<span class="cd-date">July 2017</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	</section> <!-- cd-timeline -->
    </section>

    <section class = "Sections_3" id= "bottom">
        <div class="row">
        <h2 class = "section_words"><center>We are working on the first beta! <br />Want to be the first few to try our beta? Sign up below! </center></h2>
    </div>
   <section class="section-form">

    <div class="row">
        <form id="form_id" method="Post" role="form" class="contact-form" action="/process?form=newsletter">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Name</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Your name" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="Your email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>How did you find us?</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find_us" id="find_us">
                       <option value = "friends">Friends</option>
                       <option value = "Internet">Internet</option>
                       <option value = "Advertisment">Advertisement</option>
                       <option value = "Other">Other</option>
                      </select>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="news">Newsletter</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" name="news" id="news" checked> Yes, please!
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="Submit" value="Send it!">
                </div>
            </div>
        </form>

    </div>
</section>
    </section>

</div>
    <section class = temporary_footer>



    </section>



    </body>
<!--
    <footer>
        <div class = "row2">
            <div class="col span-1-of-2">
                <ul class ="footer-nav">
                <li> <a href ="#"> About Us </a></li>
                <li> <a href ="#"> Blog </a></li>
                <li> <a href ="#"> Press </a></li>
                <li> <a href ="#"> iOS App </a></li>
                <li> <a href ="#"> Android App </a></li>
                </ul>
                </div>

            <div class= "col span-1-of-2">
            <ul class ="social-links">
                <li><a href="#"> <i class ="ion-social-facebook"> </i> </a></li>
                <li><a href="#"> <i class ="ion-social-twitter"> </i> </a></li>
                <li><a href="#"> <i class ="ion-social-googleplus-outline"> </i> </a></li>
                <li><a href="#"> <i class ="ion-social-instagram"> </i> </a></li>

                </ul>
            </div>

        </div>
        <div class = "row2">
        <p>
            Copyright &copy;2015 by sazme.Inc. All rights reserved.
            </p>

        </div>


    </footer>

-->
</body>

</html>
